body > .grid {
    height: 100%;
  }
  .image {
    margin-top: -100px;
  }
  .column {
    max-width: 300px;
  }
  .ui.modal > .header {
      backgroundColor: #cc1445 !important;
      color: white !important;
  }
  