

.ui.fixed.table{
    width: 100%;
    

}
#week_all{
    margin:0px;
    border-color:black
}

#week-all-table-cell{
    border-color:black
}

#table-header-title{
    margin:0px;
    border-radius: 0%;
    font-weight: bolder;
}

#week-all-time-cell{
    width: 100px;
    border-color:black;

}
